<p class="display-4 text-center text-info">ADMIN LOGIN</p>
<div class="merge container">
    <div class="container">
        <img src="../../assets/admlog.avif" alt="" height="300px" width="500px">
    </div>
    <!-- username and password (apply validations) -->
    <div class="container bg-dark" style="width: 40rem;">
        <form class="w-75 mx-auto mt-5" [formGroup]="userCredentials" #ref="ngForm" (ngSubmit)="onSubmitUser()">
            <!-- username -->
            <div class="mb-4">
                <label for="username" class="form-label text-light">Username</label>
                <input type="text" formControlName="username" id="username" class="form-control">
                <!-- validation error message for username -->
                <div *ngIf="username?.invalid && (username?.dirty || username?.touched || ref.submitted)"
                    class="text-danger">
                    <p *ngIf="username?.errors?.['required']">Username is required</p>
                </div>
            </div>
            <!-- password -->
            <div class="mb-4">
                <label for="password" class="form-label text-light">Password</label>
                <input type="password" formControlName="password" id="password" class="form-control">
                <!-- validation msg for password -->
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched || ref.submitted)"
                    class="text-danger">
                    <p *ngIf="password?.errors?.['required']">Password is required</p>
                </div>
            </div>
            <button class="btn btn-success d-block mx-auto mt-3 mb-2">Login</button>
        </form>
        <div class="merge" style="margin-left: 70px;">
            <p class="text-light">Didn't register yet?</p>
            <a routerLink="/adminregister">Register Here!</a>
        </div>
        <div class="merge" style="margin-left: 70px;">
            <p class="text-light">Login as a STUDENT ,</p>
            <a routerLink="/login">Student login</a>
        </div>
    </div>
</div>