<p class="display-4 text-center text-primary">Shopping Cart</p>
<div class="container">
<table class="table text-center table-bordered w-50 mx-auto">
  <thead>
    <tr>
      <td>Item</td>
      <td>Price</td>
      <td>Quantity</td>
      <td>Total</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of data;let i = index">
      <td>{{x.name}}</td>
      <td>{{x.price}}</td>
      <td>
        <button style="background-color: tomato; border-style: none; border-radius: 10%;" (click)="decreaseAmount(i)">-</button>
        {{x.selectedQuantity}}
        <button style="background-color: darkolivegreen; border-style: none; border-radius: 10%;" (click)="increaseAmount(i)">+</button>
      </td>
      <td>{{x.total}}</td>
    </tr>
  </tbody>
</table>
<p class="text-center text-success display-4">Total Amount:{{data[0]['total'] + data[1]['total']}}</p>
</div>