<p class="display-1 text-center text-success">LOGIN</p>
<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
 
        @if(userCredentialsError.userCredErrStatus){
          <p class="text-danger fs-3 text-center">{{userCredentialsError.userCredErrMsg}}</p>
        }
        @else{
 
        }
      <form class="w-50 mx-auto mt-3" [formGroup]="userCredentials" (ngSubmit)="onSubmitUser()" #ref="ngForm">
 
        <div>
          <input type="radio" formControlName="loginType" id="user" value="user">
          <label for="user">User</label>
     
          <input type="radio" formControlName="loginType" id="seller" value="seller">
          <label for="seller">Seller</label>
        </div>
     
 
    <div class="mb-2">
      <label for="username" class="form-label">Username</label>
      <input type="text"  formControlName="username" id="username" class="form-input">
    </div>
   
      <div class="mb-2">
        <label for="password" class="form-label">Password</label>
        <input type="password"  formControlName="password" id="password" class="form-input">
      </div>
 
    <button  class="btn btn-success">Login</button>
 
</form>
      </div>
    </div>
</div>