<div class="container">
    <div class="row mt-4 container">
        <div class="col-1">
            Username:
        </div>
        <div class="col-4">
            <input type="text" class="form-control" #name>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" (click)="updateName(name)">Update</button>
        </div>
    </div>
    <div class="row mt-4 container">
        <div class="col-1">
            Email:
        </div>
        <div class="col-4">
            <input type="email" class="form-control" #email>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" (click)="updateEmail(email)">Update</button>
        </div>
    </div>
    <div class="row mt-4 container">
        <div class="col-1">
            Mobile No.:
        </div>
        <div class="col-4">
            <input type="number" class="form-control" #mbl>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" (click)="updateMobile(mbl)">Update</button>
        </div>
    </div>
</div>

<h1 appCreate>Sai Charan</h1>

<p *appHide="status" appCreate>Custom structural directive in angular</p>
<button class="btn btn-primary d-block mx-auto" (click)="toggle()">Toggle</button>