<table class="table table-bordered w-50 mx-auto">
    <thead>
        <tr>
            <td>Username:</td>
            <td>Email:</td>
            <td>Mobile No.:</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobile}}</td>
        </tr>
    </tbody>
</table>

<hr>

<h1 appCreate>Sai Charan</h1>

<p *appHide="status" appCreate>Custom structural directive in angular</p>
<button class="btn btn-primary d-block mx-auto" (click)="toggle()">Toggle</button>