.pos{
    position: absolute;
    top:410px;
    left: 20px;
}
span{
    margin-left: 12px;
}
.display-pic{
    position: absolute;
    top: 150px;
    left: 15px;

}
.pic{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

/* h5,p{
    font-family: "Rubik Doodle Shadow";
} */