<p class="display-4 text-center text-info">Register</p>
<div class="bg-dark">
  <form class="w-25 mx-auto mt-2" [formGroup]="user" #ref="ngForm" (ngSubmit)="onSubmitUser()">
    <!-- username -->
    <div class="mb-2">
      <label for="username" class="form-label">Username</label>
      <input type="text" formControlName="username" id="username" class="form-control">
      <!-- validation error message for username -->
      <div *ngIf="username.invalid && (username.dirty || username.touched || ref.submitted )" class="text-danger">
        <p *ngIf="username?.errors?.['required']">Username is required</p>
        <p *ngIf="username?.errors?.['minlength']">Min length is 4</p>
        <p *ngIf="username?.errors?.['maxlength']">Max length is 10</p>
      </div>
    </div>
    <!-- password -->
    <div class="mb-2">
      <label for="password" class="form-label">Password</label>
      <input type="password" formControlName="password" id="password" class="form-control">
      <!-- validation msg for password -->
      <div *ngIf="password.invalid && (password.dirty || password.touched || ref.submitted)" class="text-danger">
        <p *ngIf="password?.errors?.['required']">Password is required</p>
      </div>
    </div>
    <!-- email -->
    <div class="mb-2">
      <label for="email" class="form-label">Email ID</label>
      <input type="email" formControlName="email" id="email" class="form-control">
      <!-- validation msg for password -->
      <div *ngIf="email.invalid && (email.dirty || email.touched || ref.submitted)" class="text-danger">
        <p *ngIf="email?.errors?.['required']">Email ID is required</p>
      </div>
    </div>
    <!-- dob -->
    <div class="mb-2">
      <label for="dob" class="form-label">DOB</label>
      <input type="date" formControlName="dob" id="dob" class="form-control">
      <!-- validation msg for password -->
      <div *ngIf="dob.invalid && (dob.dirty || dob.touched || ref.submitted )" class="text-danger">
        <p *ngIf="dob ?.errors?.['required']">DOB is required</p>
      </div>
    </div>
    <!-- submit button-->
    <button class="btn btn-success d-block mx-auto mb-3">Register</button>
  </form>
</div>