<p class="display-4 text-center text-primary ">Python</p>
<p class="lead container">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, eius
  ducimus. Blanditiis veritatis natus perferendis porro obcaecati saepe ex unde!
  Hic tenetur assumenda atque autem suscipit rem id tempore aliquam veritatis
  voluptates sunt beatae, ut doloribus a repellat libero earum. Cupiditate amet
  at inventore aliquam cumque voluptas officia labore dolorum!
</p>
<p class="lead container">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quasi dolore
  molestiae ratione ut quos sunt corrupti unde sit aut?
</p>


