<!-- <div class="container bg-dark mt-5 w-50 mx-auto">
    <div class="mb-4" *ngFor="let user of users; let i=index">
        <div class="bg-info">
            @if(userEditStatus===false){
            <p class="text-center text-light display-4">User Profile</p>
            <p class="text-center text-dark lead">{{user.username}}</p>
            <p class="text-center text-dark lead">{{user.email}}</p>
            <button type="submit" class="btn btn-warning mx-auto d-block" (click)="onUserEdit(i)">Edit</button>
            }
            @else{
            <form [formGroup]="userEditForm" (ngSubmit)="onUserSave(i)" class="bg-warning">
                <input type="text" formControlName="username" class="form-control mb-3 mt-3 w-50 mx-auto">
                <input type="email" formControlName="email" class="form-control mb-3 w-50 mx-auto">
                <button type="submit" class="btn btn-success mx-auto d-block mx-auto">Save</button>
            </form>
            }
        </div>
    </div>
</div> -->


<h1 class="text-center text-info">User Profile</h1>
<div class="px-5 text-end merge">
    <p class="lead fs-2 text-primary">Welcome:{{userData?.username}}</p>
    <p class="lead fs-4 text-secondary">{{userData?.email}}</p>
</div>