<app-header></app-header>
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-content">
        <div class="body-content">
          <h3>NEW WAY OF EDUCATION</h3>
          <h4>LIVE STREAMING SESSIONS</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
            voluptate, odit reprehenderit tempore earum sed veniam assumenda
            laboriosam dolorem, rem tenetur quos quidem aliquam reiciendis iste
            amet, ipsum eveniet nisi eligendi placeat!.
          </p>
          <button type="button" id="getStarted" name="getStarted">
            GET STARTED
          </button>
          <button type="button" id="readMore" name="readMore">READ MORE</button>
        </div>

        <img
          src="../../assets/Bannerimage_Desktop&Tab.png"
          class="d-block"
          alt="Banner Image"
        />
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-content">
        <div class="body-content">
          <h3>NEW TECHNOLOGY STUDIES</h3>
          <h4>TECHNOLOGY SESSIONS</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
            voluptate, odit reprehenderit tempore earum sed veniam assumenda
            laboriosam dolorem, rem tenetur quos quidem aliquam reiciendis iste
            amet, ipsum eveniet nisi eligendi placeat!.
          </p>
          <button type="button" id="getStarted" name="getStarted">
            GET STARTED
          </button>
          <button type="button" id="readMore" name="readMore">READ MORE</button>
        </div>

        <img
          src="../../assets/Bannerimage_Desktop&Tab.png"
          class="d-block"
          alt="Banner Image"
        />
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-content">
        <div class="body-content">
          <h3>EDUCATION POLICIES</h3>
          <h4>ANGULAR STUDIES</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
            voluptate, odit reprehenderit tempore earum sed veniam assumenda
            laboriosam dolorem, rem tenetur quos quidem aliquam reiciendis iste
            amet, ipsum eveniet nisi eligendi placeat!.
          </p>
          <button type="button" id="getStarted" name="getStarted">
            GET STARTED
          </button>
          <button type="button" id="readMore" name="readMore">READ MORE</button>
        </div>

        <img
          src="../../assets/Bannerimage_Desktop&Tab.png"
          class="d-block"
          alt="Banner Image"
        />
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-content">
        <div class="body-content">
          <h3>NEW WAY OF EDUCATION</h3>
          <h4>LIVE STREAMING SESSIONS</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
            voluptate, odit reprehenderit tempore earum sed veniam assumenda
            laboriosam dolorem, rem tenetur quos quidem aliquam reiciendis iste
            amet, ipsum eveniet nisi eligendi placeat!.
          </p>
          <button type="button" id="getStarted" name="getStarted">
            GET STARTED
          </button>
          <button type="button" id="readMore" name="readMore">READ MORE</button>
        </div>
        <img
          src="../../assets/Bannerimage_Desktop&Tab.png"
          class="d-block"
          alt="Banner Image"
        />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
