<p class="display-4 text-center text-info">Technologies</p>

<!-- navigation bar -->
<ul class="nav nav-pills bg-dark mx-auto w-75 justify-content-center p-3">
    <li class="nav-item">
      <a class="nav-link" routerLink="java" routerLinkActive="active">Java</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="python" routerLinkActive="active">Python</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="node" routerLinkActive="active">Nodejs</a>
    </li>
   
  </ul>
  

<!-- placeholder for children of technolgies component -->
<router-outlet></router-outlet>