body{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    color: #333333;
    background-color: #e2e2e2;
    font-size: 12px;
}

.header{
    /* position: fixed; */
    height: 40px;
    width: 100%;
    background-color: #2335b8;
    padding: 30px 10px;
    color: white;
    font-size: 40px;
}

.content{
    background-color:white;
    width: 70%;
    margin: auto;
    padding: 60px 40px;
}

.header-2{
    font-size: 30px;
    padding-bottom: 8px;
    border-bottom: 3px solid #2335b8;
    margin-bottom: 15px;
}

.main{
    display: flex;
    flex-direction: row;
}
.content-left{
    width: 50%;
}
.content-right{
    width: 50%;
    border: 1px solid #e2e2e2;
    margin: 10px;
    padding: 10px;
    height: auto;
}
.empList{
    list-style: none;
    width: 100%;
    padding: 0px;
}

.odd{
    background-color: #eaeaf8;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}

.even{
    background-color: #ffffff;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}

.image-div{
    border: 1px solid black;
    margin: 5px;
    height: auto;
    width: 40%;
}
img{
    width: 100%;
    height: auto;
}

.image-name-assoc{
    display: flex;
    flex-direction: row;
    height: 50%;
}

.empName{
    font-size: 18px;
    margin-bottom: 30px;
}

.name-assoc{
    display: flex;
    flex-direction: column;
}

.assoc{
    font-size: 14px;
}

.details{
    font-size: 12px;
}

#footer{
    background-color: #e2e2e2;
    width: 100%;
    height: 45px;
    font-size: 11px;
    text-align: center;
    position: fixed;
}