<button class="mx-auto d-block btn btn-primary mt-3" (click)="getComments()">Get comments</button>

<p class="container">{{data | json}}</p>
<hr>
<table class="table table-bordered w-50 mx-auto mt-3 table-striped">
    <thead>
        <tr>
            <td>User Name:</td>
            <td>Email Id:</td>
            <td>Phone Number:</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
        </tr>
    </tbody>
</table>