<p class="display-4 text-center text-info">LOGIN</p>
<!-- username and password (apply validations) -->
<form class="w-25 mx-auto mt-5" [formGroup]="userCredentials" #ref="ngForm" (ngSubmit)="onSubmitUser()">
    <!-- username -->
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" formControlName="username" id="username" class="form-control">
        <!-- validation error message for username -->
        <div *ngIf="username?.invalid && (username?.dirty || username?.touched || ref.submitted)" class="text-danger">
            <p *ngIf="username?.errors?.['required']">Username is required</p>
            <!-- <p *ngIf="username?.errors?.['minlength']">Min length is 4</p>
            <p *ngIf="username?.errors?.['maxlength']">Max length is 6</p> -->
        </div>
    </div>
    <!-- password -->
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" formControlName="password" id="password" class="form-control">
        <!-- validation msg for password -->
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched || ref.submitted)" class="text-danger">
            <p *ngIf="password?.errors?.['required']">Password is required</p>
        </div>
    </div>
    <button class="btn btn-success d-block mx-auto">Login</button>
</form>